<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Anything you want
    </div>
    <strong>Copyright &copy; 2019 <a href="https://www.bi-dss.com/">BI-DSS</a>.</strong> All rights reserved.
</footer>
<!-- Main Footer -->